<!--NG Repeat-->
<div ng-repeat="standardImage in standardImages">
	<div class="imageWrapper--standard" ng-if="standardImage.show" ng-click="standardStep($index)">
		<img src="/images/{{standardImage.name}}.png" alt="{{standardImage.name}}" />
	</div>
</div>

<!--DFMobile2-->
<div class="imageWrapper--two" ng-if="imageStates[1].show" ng-class="appLoad && imageStates[1].show ? 'appFadeShow' : 'appFadeHide'" ng-click="standardStep(0)">
	<img src="/images/{{imageStates[1].name}}.png" alt="{{imageStates[1].name}}" />
</div>

<!--DFMobile1-->
<div class="imageWrapper--one" ng-click="goToCumulus()">
	<img src="/images/{{imageStates[0].name}}.png" alt="{{imageStates[0].name}}" />
</div>
